@{
    var userIdClaim = Context.User.FindFirst("id");
    var userId = userIdClaim?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="This is the website description. Nice eh?">
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Tải game miễn phí tại website ddat14game.com">
    <meta itemprop="description" content="Trang web ddat14game.com - nơi bạn có thể tìm thấy và tải xuống hàng ngàn tựa game miễn phí một cách dễ dàng và nhanh chóng. Chúng tôi tự hào là một nguồn tài nguyên đáng tin cậy cho những người đam mê trò chơi, mang đến cho bạn trải nghiệm giải trí tuyệt vời mà không cần phải trả bất kỳ chi phí nào.Với sự đa dạng về thể loại và chủ đề, ddat14game.com đảm bảo sẽ đáp ứng được mọi sở thích và sự mong đợi của bạn. Từ những trò chơi phiêu lưu đầy thách thức đến những tựa game giải đố thông minh, từ game hành động đầy kịch tính đến những tựa game thể thao ấn tượng - tất cả đều có mặt tại đây, đợi bạn khám phá và thưởng thứcDựa trên tiêu chí chất lượng và an toàn, chúng tôi cam kết cung cấp cho bạn những phiên bản game mới nhất và cập nhật thường xuyên. Trang web của chúng tôi cũng chú trọng đến việc bảo vệ người dùng khỏi các rủi ro an ninh mạng, đảm bảo bạn có trải nghiệm tải game mượt mà và tin cậy.">
    <meta itemprop="image" content="https://ddat14game.com/upload/5c024407-6fda-46b4-b008-f9575f52c8e7_10104.jpg">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://ddat14game.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tải game miễn phí tại website ddat14game.com">
    <meta property="og:description" content="Trang web ddat14game.com - nơi bạn có thể tìm thấy và tải xuống hàng ngàn tựa game miễn phí một cách dễ dàng và nhanh chóng. Chúng tôi tự hào là một nguồn tài nguyên đáng tin cậy cho những người đam mê trò chơi, mang đến cho bạn trải nghiệm giải trí tuyệt vời mà không cần phải trả bất kỳ chi phí nào.Với sự đa dạng về thể loại và chủ đề, ddat14game.com đảm bảo sẽ đáp ứng được mọi sở thích và sự mong đợi của bạn. Từ những trò chơi phiêu lưu đầy thách thức đến những tựa game giải đố thông minh, từ game hành động đầy kịch tính đến những tựa game thể thao ấn tượng - tất cả đều có mặt tại đây, đợi bạn khám phá và thưởng thứcDựa trên tiêu chí chất lượng và an toàn, chúng tôi cam kết cung cấp cho bạn những phiên bản game mới nhất và cập nhật thường xuyên. Trang web của chúng tôi cũng chú trọng đến việc bảo vệ người dùng khỏi các rủi ro an ninh mạng, đảm bảo bạn có trải nghiệm tải game mượt mà và tin cậy.">
    <meta property="og:image" content="https://ddat14game.com/upload/5c024407-6fda-46b4-b008-f9575f52c8e7_10104.jpg">

    <title>Ddat14 - taigamemienphi</title>
    <link rel="icon" type="image/x-icon" href="/img/logo-dat2.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"  />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/regular.min.css" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <script>
        var EventBus = new Vue();
     </script>
</head>
<style>
    :root {
        --background-image: url('@ViewData["BackgroundImageUrl"]');
    }

    body {
        background-image: var(--background-image);
        overflow: hidden;
    }

    .show {
        width: 100% !important;
    }
    .scroll-wrapper {
        overflow: auto;
        max-height: 100vh;
        position: relative;
    }

        div.asp_w.asp_r .results::-webkit-scrollbar,
        .scroll-wrapper::-webkit-scrollbar {
            width: 8px;
        }

        div.asp_w.asp_r .results::-webkit-scrollbar-track,
        .scroll-wrapper::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.1);
        }

        div.asp_w.asp_r .results::-webkit-scrollbar-thumb,
        .scroll-wrapper::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.3);
        }

            div.asp_w.asp_r .results::-webkit-scrollbar-thumb:hover,
            .scroll-wrapper::-webkit-scrollbar-thumb:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }

    .search__box {
        float: left;
        width: 0;
        height: 2rem;
        /*   display: inline; */
        background: none;
        color: #000;
        font-size: 1rem;
        border-radius: 2rem;
        outline: none;
        border: none;
        opacity: 1;
        transition: all .75s ease-in;
        cursor: pointer;
    }


    .search__icon {
        box-sizing: border-box;
        float: right;
        font-size: 1.5rem;
        display: inline-block;
        top: 0;
        margin-left: .8rem;
        margin-top: 0;
        cursor: pointer;
        position: absolute;
        color: #fa983a;
        transition: all .25s ease-in;
        padding: .7rem;
        border-radius: 50%;
    }

    .search-box:hover > .search__box {
        width: 90%;
        padding: 0 1rem;
    }



    .show {
        width: 85%;
    }

</style>
<body>
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>
    <div class="scroll-wrapper">
        <div class="container" id="main">
            <!-- header --> 
           
            <div class="row nav_head" id="search_vue">
                <div class="justify-content-between mobile-only-btn align-items-center">

                    <div class="btn-mobile">
                            <p class="gt text-light" v-if="token != null">Số dư: {{formatCurrency(@ViewBag.TotalPay)}}</p>
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#bankForm" role="button" class="gt " v-if="token != null" title="Nạp tiền vào tài khoản">Nạp tiền</a>
                            <p class="gt text-light" v-else>Chào mừng các bạn đến với website</p>
                        </div>
                    

                    <div class="btn-mobile">
                        <button type="button" class="btn btn-primary ma-le" data-bs-toggle="modal" data-bs-target="#staticBackdrop" v-if="token == null">
                            Đăng nhập
                        </button>
                        <button type="button" class="btn btn-primary ma-le" data-bs-toggle="modal" data-bs-target="#staticBackdrop" v-else v-on:click="removeToken">
                            Đăng xuất
                        </button>
                    </div>
                </div>
                <div class="justify-content-center align-items-center only-mobile ">
                    <div class="search-box">
                        <div class="input-group">
                            <form class="input-group">
                                <input name="s" type="text" class="form-control" placeholder="Tìm kiếm game......" v-model="searchKeywordPage" v-on:click="showResults" onclick="toggleShow()">
                                <span class="input-group-btn">
                                    <button value="Search" class="btn btn-black" type="submit" v-on:click.prevent="SearchClick">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        &nbsp;
                                    </button>
                                </span>
                            </form>

                        </div>

                    </div>
                </div>
                <div class="col-4 mobile-menu">
                    <nav class="navbar navbar-dark position-relative">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" id="showMenu">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </nav>
                    <div class="collapse position-absolute" id="navbarToggleExternalContent">
                        <div class="bg-dark p-4">
                            <ul class="nav-list">
                                <li v-for="list2 in CateItemsLayout" class="nav-li-menu">
                                    <a :href=`/Home/ProductByCate/${list2.id}`>
                                        {{list2.nameCate}}
                                    </a>
                                    <ul v-if="list2.subMenus && list2.subMenus.length > 0" class="sub-menu">
                                        <li class="li-tips">
                                            <span class="label-menu" style="background: #ff0000">{{list2.nameCate}}</span>
                                        </li>
                                        <li v-for="subMenu2 in list.subMenus" :key="subMenu2.idSub">
                                            <a :href=`/Home/ProductByCate/${subMenu2.idCate}`>
                                                {{ subMenu2.nameSub }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-li-menu">
                                    <a href="/Home/ProductShop">
                                        Tất cả game
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4 mobile-menu">
                    <img width="420" height="77"
                         src="/img/Logo-Dat.png"
                         class="w-50 entered lazyloaded" alt="Logo Footer DMH"
                         data-lazy-src="/img/Logo-Dat.png"
                         data-ll-status="loaded"><noscript>
                        <img width="420" height="77"
                             src="/img/Logo-Dat.png"
                             class="w-100" alt="Logo Footer DMH">
                    </noscript>
                </div>
                <div class="col-4 dek-menu">
                    <p class="gt text-light" v-if="token != null">Số dư: {{formatCurrency(@ViewBag.TotalPay)}}</p>
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#bankForm" role="button" class="gt " v-if="token != null" title="Nạp tiền vào tài khoản">Nạp tiền</a>
                    <p class="gt text-light" v-else >Chào mừng các bạn đến với website</p>
                </div>
                <div class="col-4 dek-menu">
                    <div class="search-box">
                        <div class="input-group">
                            <form class="input-group">
                                <input name="s" type="text" class="form-control" placeholder="Tìm kiếm game......" v-model="searchKeywordPage" v-on:click="showResults" onclick="toggleShow()">
                                <span class="input-group-btn">
                                    <button value="Search" class="btn btn-black" type="submit" v-on:click.prevent="SearchClick">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        &nbsp;
                                    </button>
                                </span>
                            </form>
                            
                        </div>
                      
                    </div>
                </div>
                <div id="ajaxsearchprores1_1"
                     :class="[
        'asp_w asp_r asp_r_1 asp_r_1_1 vertical ajaxsearchpro wpdreams_asp_sc wpdreams_asp_sc-1',
        'asp_an_fadeInDrop',
                     showSearchResults && searchKeywordPage
                     ? 'block_search'  : 'none_search'
      ]"
                     data-id="1" data-instance="1" v-if="shouldShowResults">

                    <div class="results position-relative" v-bind:style="searchResultsStyle" v-if="showSearchResults && searchKeywordPage">
                        <button class="btn btn-success position-absolute " style="right: 0;z-index:12;" v-on:click="closeHandle" onclick="toggleShow()">X</button>
                        <div class="resdrg">
                            <div class="item asp_r_pagepost asp_r_pagepost_105041 asp_r_post asp_last_item asp_an_fadeInDown" v-for="itemProduct in filteredDataItemsLayout">
                                <div class="asp_content">
                                    <a class="asp_res_image_url" :href=`/Home/DetailsProduct/${itemProduct.id}`>
                                       <div class="asp_image"
                                             v-bind:style="{ 'background-image': 'url(' + itemProduct.mainImg + ')' }">
                                            <div class="void"></div>
                                        </div>
                                      
                                    </a>
                                    <h3 class="d-flex align-items-center">
                                        <a class="asp_res_url" :href=`/Home/DetailsProduct/${itemProduct.id}`>
                                            {{itemProduct.name}} <span class="overlap"></span>
                                        </a>
                                    </h3>
                                    <div class="etc">
                                    </div>
                                 

                                </div>
                                <div v-if="filteredDataItemsLayout.length === 1" class="no-results">

                                    <marquee direction="right" class="text-light">Không có kết quả phù hợp</marquee>
                                </div>
                                <div class="clear"></div>
                            </div>
                           
                        </div>

                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center ">
                    <div class="d-flex justify-content-between">
                        <div class="hnc-notify-user m-cus-head">
                            <a class="ringing-bell" href="javascript:void(0)" v-on:click="toggleDropdown" id="dropdownNotifyLink">
                                <i class="fa-regular fa-bell"></i><span class="notify-count">{{ notiData.length }}</span>
                            </a>
                            <div :class="['dropdown-notify', { 'd-block': dropdownOpen }]" id="dropdown">
                                <div class="notify-item" v-for="(notiD,index) in notiData" :key="index">
                                    <div class="notify-number"><span>{{index + 1}}</span></div>
                                    <div class="notify-inner">
                                        <div class="notify-description">
                                            <p>
                                                {{notiD.noti}}
                                            </p>
                                        </div>
                                        <div class="notify-date">{{formatDate(new Date(notiD.createDate))}}</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <button type="button" class="btn btn-primary ma-le only-mobile-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" v-if="token == null">
                            Đăng nhập
                        </button>
                        <button type="button" class="btn btn-primary ma-le only-mobile-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" v-else v-on:click="removeToken">
                            Đăng xuất
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Đăng nhập</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div>

                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            </div>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" id="form3Example1c" class="form-control" v-model="userName" />
                                            </div>
                                        </div>


                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div>

                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            </div>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" id="form3Example4c" class="form-control" v-model="password" />
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-primary" v-on:click="postLogin">Đăng nhập</button>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <a type="button" class="btn btn-success" href="/tai-khoan/dang-ky-tai-khoan">Đăng ký</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="modal fade" id="bankForm" tabindex="-1" aria-labelledby="bankForm" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content ">
                            <div class="modal-header head-money modal-bank">

                                <div class="bold h-title" id="myModalLabel">
                                    NẠP TIỀN VÀO TÀI KHOẢN <p class="text-danger">(Click chọn bank)</p>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <i class="fa fa-user fa-lg" aria-hidden="true"></i><b id="ucPopupMoney_moneyUser">
                                            @ViewBag.Name
                                        </b>&nbsp;
                                        (Mã TV<b id="ucPopupMoney_moneyIDUser" class="red"> @ViewBag.ID</b> - <span id="ucPopupMoney_moneyEmail"> @ViewBag.UserName</span>)&nbsp;&nbsp;
                                        &nbsp;&nbsp;

                                        <span class="text-nowrap">
                                            <i class="fa fa-money fa-lg" aria-hidden="true"></i> Khả dụng: <b id="ucPopupMoney_moneyAllow" class="green2">{{formatCurrency(@ViewBag.TotalPay)}}</b>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body bank-acc modal-bank">
                                <nav>
                                    <div class="nav nav-tabs bg-tab " id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                                aria-selected="true">
                                            Chuyển khoản
                                        </button>
                                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                                aria-selected="false">
                                            Ví điện tử
                                        </button>

                                    </div>
                                </nav>
                                <div class="tab-content modal-bank" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <div class="row p-20">
                                            <div class="col-xs-12 col-sm-6 col-md-4 pd-5" v-for="bank in filteredBanks">
                                                <br>
                                                <div class="clear" v-on:click="clickBank(bank)" style="cursor: pointer">
                                                    <div style="float: left; margin: 2px 10px 0 0;">
                                                        <img :src="bank.imgBank" style="height: 50px; width:auto; object-fit:cover">
                                                    </div>
                                                    <div style="float: left;">
                                                        <strong class="green">{{bank.bankName}}</strong><br>
                                                        {{bank.bankAcc}}<br>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="col-xs-12 pd-5 b-1-c">
                                                <div class="bg-pop">
                                                    <ul class="introduce-list">
                                                        <li>
                                                            Phải nhập chính xác nội dung CK mà hệ thống đã hiển thị sẵn cho bạn, để
                                                            được CỘNG TIỀN TỰ ĐỘNG.
                                                        </li>
                                                        <li>
                                                            Trường hợp sau vài phút mà bạn không nhận được tiền vui lòng gọi tới số
                                                            hotline.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <ul class="nav nav-tabs tab-child row m-auto" id="myTab" role="tablist">
                                            <li class="col-sm-4 nav-item" role="presentation" v-for="bankS in filteredBanks2">
                                                <a href="javascript:void(0)" v-on:click="clickBank(bankS)" id="momo-tab" data-bs-toggle="tab" data-bs-target="#momo" type="button" role="tab" aria-controls="home" aria-selected="true">
                                                    <img :src="bankS.imgBank" style="width: 50px; height:auto; object-fit:cover">
                                                </a>
                                            </li>
                                            <li class="col-sm-4 nav-item" role="presentation" v-if="filteredBanks2.length == 0">
                                                <a href="javascript:void(0)" id="momo-tab" data-bs-toggle="tab" data-bs-target="#momo" type="button" role="tab" aria-controls="home" aria-selected="true">
                                                    <p class="text-center">Chưa khả dụng ở phương thức này</p>
                                                </a>
                                            </li>


                                        </ul>


                                        <div class="tab-content modal-bank" id="nav-tabContent">
                                            <div role="tabpanel" class="row tab-pane fade active in" id="momo">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 p-50 ">
                                            <div class="bg-pop">
                                                <ul class="introduce-list">
                                                    <li>Khi nạp MOMO, VN PAY Phải nhập chính xác "Lời nhắn" (hoặc) "Nội dung chuyển tiền" mà hệ thống đã hiển thị sẵn cho bạn, để được CỘNG TIỀN TỰ ĐỘNG.</li>
                                                    <li>Trường hợp sau vài phút mà bạn không nhận được tiền vui lòng gọi tới số hotline.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer text-left pop-footer">
                                <div class="rows">
                                    <div class="col-sm-5 col-md-3 red float-start">
                                        <i class="fa fa-phone-square" style="margin-top:3px;"></i> Hotline hỗ trợ: <span class="pop-hotline"> 0379.358.959</span>
                                    </div>
                                    <div class="col-md-2"> </div>
                                    <div class="col-sm-7  col-md-7 float-end">
                                        <p class="green2">
                                            <img src="~/img/secure.png" height="40" alt="secure" class="pop-secu">
                                            Bảo mật SSL mọi giao dịch đều được mã hóa an toàn!
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="bankNapTien" tabindex="-1" aria-labelledby="bankNapTien" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Chuyển khoản</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="text-center">
                                            <div>
                                                <label class="form-label">Nhập số tiền chuyển</label>
                                                <input placeholder="Nhập số tiền chuyển" v-model="PriceUser" class="form-control" />
                                                <p>
                                                    Số tiền thực nhận : {{formatCurrency(PriceUser)}}
                                                </p>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <p>Hình thức chuyển: <span class="col-blue">{{dataBankChoose.bankName}}</span></p>
                                            <strong>Chủ TK nhận tiền:</strong> <span class="col-blue">{{dataBankChoose.bankUser}}</span> <br>
                                            <strong style="line-height: 30px;">
                                                Nội dung CK bắt buộc là: <span class="orange"
                                                                               style="font-size: 30px; line-height: 23px;">
                                                    <span id="ucPopupMoney_moneyID " class="f-12">@ViewBag.userName</span>
                                                </span>
                                            </strong><br>
                                            <hr />
                                            <p>Quét mã bên dưới</p>
                                            <em>
                                                <img :src="dataBankChoose.qrBank" style="width: 200px; height: auto; object-fit:cover" />
                                            </em>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="closeModal">Đóng</button>
                                <button type="button" class="btn btn-primary" v-on:click="confirmData">Xác nhận đã chuyển</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header -->
            <!-- sub head -->
            <div class="row sub_head" id="categoryList">
                <div class="col-12 d-flex justify-content-center">
                    <a href="/" class="nk-nav-logo">
                        <img src="~/img/img_7034.png" />
                    </a>
                </div>
                <div class="col-12 menu d-flex justify-content-center dek-menu">
                    <div class="sub_menu">
                        <ul class="hnc-nav-menu">
                            <li v-for="list in CateItemsLayout" :class="{ 'menu-item-has-children position-relative': list.subMenus && list.subMenus.length > 0 }">
                                <a :href=`/Home/ProductByCate/${list.id}`>
                                    {{list.nameCate}}
                                </a>
                                <ul v-if="list.subMenus && list.subMenus.length > 0" class="sub-menu">
                                    <li class="li-tips">
                                        <span class="label-menu" style="background: #ff0000">{{list.nameCate}}</span>
                                    </li>
                                    <li v-for="subMenu in list.subMenus" :key="subMenu.idSub">
                                        <a :href=`/Home/ProductByCate/${subMenu.idCate}`>
                                            {{ subMenu.nameSub }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/Home/ProductShop">
                                    Tất cả game
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @RenderBody()
            <footer class="nk-footer mt-5">
                <div class="container">
                    <div class="bg-footer">
                        <div class="row vertical-gap">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                <div class="widget_text nk-widget ">
                                    <div class="nk-widget">
                                        <div class="textwidget">
                                            <p>
                                                <strong> <a href="/">ddat14game.com</a></strong> là Website chia sẻ Game,
                                                phần mềm, thủ thuật,...
                                                miễn phí với tốc độ cao với nhiều thể loại như Việt Hóa, Online, Mod, ... kèm hướng dẫn cài đặt chi tiết và an toàn&nbsp; <strong>
                                                    ”
                                                    Chia sẻ miễn phí tất cả “
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex justify-content-center">
                                <div class="textwidget custom-html-widget d-flex justify-content-center">
                                    <img width="420" height="77"
                                         src="/img/Logo-Dat.png"
                                         class="w-50 entered lazyloaded" alt="Logo Footer DMH"
                                         data-lazy-src="/img/Logo-Dat.png"
                                         data-ll-status="loaded"><noscript>
                                        <img width="420" height="77"
                                             src="/img/Logo-Dat.png"
                                             class="w-100" alt="Logo Footer DMH">
                                    </noscript>
                                </div>

                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex justify-content-center">

                                <div class="widget_text nk-widget">
                                    <h4 class="nk-widget-title">CHÍNH SÁCH &amp; ĐIỀU KHOẢN</h4>
                                    <div class="textwidget custom-html-widget">
                                        <li>
                                            <a href="javascript:void(0)" rel="nofollow" onclick="alertKOC">
                                                <b>
                                                </b>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" rel="nofollow" onclick="alertKOC">
                                                <b>
                                                    Chính sách
                                                    bảo mật
                                                </b>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" rel="nofollow" onclick="alertKOC">
                                                <b>
                                                    Điều khoản
                                                    sử dụng
                                                </b>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" onclick="alertKOC">
                                                <b>
                                                    Câu hỏi thường
                                                    gặp
                                                </b>
                                            </a>
                                        </li>
                                        <li><a href="#" rel="nofollow" onclick="alertKOC"><b>Liên hệ</b></a></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hnc-copyright">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="hnc-copyright-main" id="copyright"></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <ul class="nk-social-links">
                                    <li>
                                        <a class="nk-social-instagram mr-7" href="#"><i class="fa-brands fa-instagram "></i></a>
                                    </li>
                                    <li>
                                        <a class="nk-social-facebook mr-7" href="#">
                                            <i class="fa-brands fa-facebook-f "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nk-social-google-plus mr-7" href="#"><i class="fa-brands fa-google "></i></a>
                                    </li>
                                    <li><a class="nk-social-youtube mr-7" href="#"><i class="fa-brands fa-youtube "></i></a></li>
                                    <li>
                                        <a class="nk-social-pinterest mr-7" href="#">
                                            <i class="fa-brands fa-pinterest-p "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nk-social-linkedin mr-7" href="#"><i class="fa-brands fa-linkedin-in "></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
       
    </div>
    <script>
        var _0x737a = ["\x64\x69\x73\x6D\x69\x73\x73", "\x74\x69\x6D\x65\x72", "\x44\x69\x73\x6D\x69\x73\x73\x52\x65\x61\x73\x6F\x6E", "\x74\x68\x65\x6E", "\x54\x68\xF4\x6E\x67\x20\x62\x61\u0301\x6F\x20\x74\x69\u0301\x6E\x68\x20\x6E\u0103\x6E\x67\x21", "\x43\x68\xFA\x6E\x67\x20\x74\xF4\x69\x20\u0111\x61\x6E\x67\x20\x63\u1EAD\x70\x20\x6E\x68\u1EAD\x74\x20\x74\x72\x6F\x6E\x67\x20\x74\x68\u1EDD\x69\x20\x67\x69\x61\x6E\x20\x74\u1EDB\x69", "\x73\x68\x6F\x77\x4C\x6F\x61\x64\x69\x6E\x67", "\x62", "\x71\x75\x65\x72\x79\x53\x65\x6C\x65\x63\x74\x6F\x72", "\x67\x65\x74\x48\x74\x6D\x6C\x43\x6F\x6E\x74\x61\x69\x6E\x65\x72", "\x74\x65\x78\x74\x43\x6F\x6E\x74\x65\x6E\x74", "\x67\x65\x74\x54\x69\x6D\x65\x72\x4C\x65\x66\x74", "\x66\x69\x72\x65", "\x76\x69\x65\x77\x6D\x6F\x72\x65\x2D\x63\x6F\x6C\x6C\x61\x70\x73\x65", "\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64", "\x2E\x63\x6F\x6C\x6C\x61\x70\x73\x65\x2D\x63\x6F\x6E\x74\x65\x6E\x74\x2D\x69\x6E\x6E\x65\x72", "\x63\x6C\x69\x65\x6E\x74\x48\x65\x69\x67\x68\x74", "\x64\x69\x73\x70\x6C\x61\x79", "\x73\x74\x79\x6C\x65", "\x62\x6C\x6F\x63\x6B", "\x68\x65\x69\x67\x68\x74", "\x70\x78", "\x63\x6C\x69\x63\x6B", "\x73\x63\x72\x6F\x6C\x6C\x48\x65\x69\x67\x68\x74", "\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C", "\x54\x68\x75\x20\x67\u1ECD\x6E\x3C\x69\x20\x63\x6C\x61\x73\x73\x3D\x22\x66\x61\x73\x20\x66\x61\x2D\x63\x68\x65\x76\x72\x6F\x6E\x2D\x75\x70\x20\x6D\x6C\x2D\x38\x22\x3E\x3C\x2F\x69\x3E", "\x58\x65\x6D\x20\x74\x68\xEA\x6D\x3C\x69\x20\x63\x6C\x61\x73\x73\x3D\x22\x66\x61\x73\x20\x66\x61\x2D\x63\x68\x65\x76\x72\x6F\x6E\x2D\x64\x6F\x77\x6E\x20\x6D\x6C\x2D\x38\x22\x3E\x3C\x2F\x69\x3E", "\x61\x64\x64\x45\x76\x65\x6E\x74\x4C\x69\x73\x74\x65\x6E\x65\x72"]; function alertKOC() { let _0x2821x2; Swal[_0x737a[12]]({ title: _0x737a[4], html: _0x737a[5], timer: 9000, timerProgressBar: true, showCloseButton: true, showCancelButton: true, didOpen: () => { Swal[_0x737a[6]](); const _0x2821x4 = Swal[_0x737a[9]]()[_0x737a[8]](_0x737a[7]); _0x2821x2 = setInterval(() => { _0x2821x4[_0x737a[10]] = Swal[_0x737a[11]]() }, 100) }, willClose: () => { clearInterval(_0x2821x2) } })[_0x737a[3]]((_0x2821x3) => { if (_0x2821x3[_0x737a[0]] === Swal[_0x737a[2]][_0x737a[1]]) { } }) } const viewMoreButton = document[_0x737a[14]](_0x737a[13]); const collapseContent = document[_0x737a[8]](_0x737a[15]); const maxCollapsedHeight = 110; let isCollapsed = true; if (collapseContent[_0x737a[16]] > maxCollapsedHeight) { viewMoreButton[_0x737a[18]][_0x737a[17]] = _0x737a[19]; if (isCollapsed) { collapseContent[_0x737a[18]][_0x737a[20]] = maxCollapsedHeight + _0x737a[21] }; viewMoreButton[_0x737a[27]](_0x737a[22], function () { if (isCollapsed) { collapseContent[_0x737a[18]][_0x737a[20]] = collapseContent[_0x737a[23]] + _0x737a[21]; viewMoreButton[_0x737a[24]] = _0x737a[25] } else { collapseContent[_0x737a[18]][_0x737a[20]] = maxCollapsedHeight + _0x737a[21]; viewMoreButton[_0x737a[24]] = _0x737a[26] }; isCollapsed = !isCollapsed }) }


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            const check = localStorage.getItem('CheckLog');
            if (check) {
                $('#staticBackdrop').modal('show');
            }
        });
        var _0x9f3e = ["\x68\x72\x65\x66", "\x6C\x6F\x63\x61\x74\x69\x6F\x6E", "\x68\x6F\x73\x74", "\x77\x77\x77\x2E", "\x73\x74\x61\x72\x74\x73\x57\x69\x74\x68", "\x73\x75\x62\x73\x74\x72\x69\x6E\x67", "\x61\x5B\x72\x65\x6C\x3D\x22\x6E\x6F\x66\x6F\x6C\x6C\x6F\x77\x22\x5D", "\x71\x75\x65\x72\x79\x53\x65\x6C\x65\x63\x74\x6F\x72", "\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C", "\x3C\x62\x3E\x47\x69\u1EDB\x69\x20\x74\x68\x69\u1EC7\x75\x20\x76\u1EC1\x20", "\x3C\x2F\x62\x3E", "\x67\x65\x74\x46\x75\x6C\x6C\x59\x65\x61\x72", "\x63\x6F\x70\x79\x72\x69\x67\x68\x74", "\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64", "\x74\x65\x78\x74\x43\x6F\x6E\x74\x65\x6E\x74", "\x43\x6F\x70\x79\x72\x69\x67\x68\x74\x20\xA9", "\x20", ""]; const currentUrl = window[_0x9f3e[1]][_0x9f3e[0]]; function getMainDomainFromUrl(_0x363fx3) { const _0x363fx4 = new URL(_0x363fx3); const _0x363fx5 = _0x363fx4[_0x9f3e[2]]; if (_0x363fx5[_0x9f3e[4]](_0x9f3e[3])) { return _0x363fx5[_0x9f3e[5]](4) }; return _0x363fx5 } const mainDomain = getMainDomainFromUrl(currentUrl); const linkElement = document[_0x9f3e[7]](_0x9f3e[6]); if (linkElement) { linkElement[_0x9f3e[0]] = currentUrl; linkElement[_0x9f3e[8]] = `${_0x9f3e[9]}${mainDomain}${_0x9f3e[10]}` }; const currentYear = new Date()[_0x9f3e[11]](); const copyrightText = document[_0x9f3e[13]](_0x9f3e[12]); if (copyrightText) { copyrightText[_0x9f3e[14]] = `${_0x9f3e[15]}${currentYear}${_0x9f3e[16]}${mainDomain}${_0x9f3e[17]}` }
    </script>
    <script>
        var _0x3c27 = ["\x23\x63\x61\x74\x65\x67\x6F\x72\x79\x4C\x69\x73\x74", "\x43\x61\x74\x65\x49\x74\x65\x6D\x73\x4C\x61\x79\x6F\x75\x74", "\x64\x61\x74\x61", "\x72\x65\x73\x6F\x6C\x76\x65", "\x74\x68\x65\x6E", "\x2F\x48\x6F\x6D\x65\x2F\x47\x65\x74\x41\x6C\x6C\x43\x61\x74\x65\x67\x6F\x72\x79", "\x67\x65\x74"]; categoryList = new Vue({ el: _0x3c27[0], data: { CateItemsLayout: [] }, mounted: function () { axios[_0x3c27[6]](_0x3c27[5])[_0x3c27[4]]((_0x3a5fx1) => { this[_0x3c27[1]] = _0x3a5fx1[_0x3c27[2]]; return Promise[_0x3c27[3]]() }) } })
    </script>
    <script>
        search_vue = new Vue({
            el: '#search_vue',
            data: {
                dataItemsLayout: [],
                showSearchResults: false,
                searchKeywordPage: "",
                dropdownOpen: false,
                notiData: [],
                falseRs: false,
                CateItemsLayout: [],
                shouldShowResults: false,
                userName: '',
                password: '',
                token: null,
                total: null,

                soDu: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.TotalPay)) || 0,
                //bank
                PriceUser: 0,
                userCheck: false,
                user: '@ViewBag.userName',
                dataSub: [],
                dataTool: [],
                dataToolChoose: [],
                dataSubChoose: [],
                dataBank: [],
                dataBankChoose: {},
                categorySlect: "",
                inputSearch: ""

            },
            computed: {
                filteredDataItemsLayout() {
                    const searchResults = this.dataItemsLayout.filter((product) =>
                        product.name.toLowerCase().includes(this.searchKeywordPage.toLowerCase())
                    );

                    if (this.searchKeywordPage === '' || searchResults.length > 0) {
                        this.falseRs = true;
                        return searchResults;
                    } else {
                        this.falseRs = false;

                        return [{ msg: 'Không tìm thấy kết quả phù hợp' }];
                    }
                   
                },

                searchResultsStyle() {
                    const style = {};
                    const minHeight = 376;

                    if (this.dataItemsLayout.length < 5) {
                        style['height'] = 'auto';
                        style['overflow-y'] = 'auto';
                    } else if (this.searchKeywordPage === '') {
                        style['height'] = minHeight + 'px';
                        style['overflow-y'] = 'auto';
                    } else if (this.falseRs == false) {
                        style['height'] = 'auto';
                        style['overflow-y'] = 'auto';
                    }
                    else {
                        style['height'] = minHeight + 'px';
                        style['overflow-y'] = 'auto';
                    }
                    return style;
                },
                filteredBanks() {
                    return this.dataBank.filter(bank => bank.loaiBank === 'Chuyển khoản ngân hàng');
                },
                filteredBanks2() {
                    return this.dataBank.filter(bank => bank.loaiBank === 'Ví điện tử');
                }
            },
            beforeDestroy() {
                window.removeEventListener('click', this.handleWindowClick);
            },
            watch:{
                filteredDataItemsLayout(newVal) {
                    if (newVal.length === 1 && newVal[0].msg === 'Không tìm thấy kết quả phù hợp') {
                        this.shouldShowResults = false;

                    } else {
                        this.shouldShowResults = true;

                    }
                },
                user(valuePr) {
                    EventBus.$emit('userData', valuePr);
                }, 
                soDu(valuePr) {
                    EventBus.$emit('soDuUser', valuePr);
                }
            },
            mounted() {
                if (this.user.trim() !== '') {
                    this.userCheck = true;
                } else {
                    this.userCheck = false;

                }
                const token = localStorage.getItem('token');
                if(token)
                {
                    this.token = token;

                }
                else{
                    this.token = null;
                }
               
                axios.get("/Products/GetAllProduct")
                    .then((response) => {

                        this.dataItemsLayout = response.data;
                        return Promise.resolve();
                    });
                axios.get("/Products/GetAllCategory")
                    .then((response) => {

                        this.CateItemsLayout = response.data;
                        return Promise.resolve();
                    });
                axios.get("/Products/GetAllNoti")
                    .then((response) => {
                        this.notiData = response.data;
                        return Promise.resolve();
                    });
                window.addEventListener('click', this.handleWindowClick);
                this.listBank();

            },
            methods: {
                closeModal() {
                    $('#bankNapTien').modal('hide');
                    $('#bankForm').modal('show');

                },
                async clickBank(data) {
                    $('#bankForm').modal('hide');
                    $('#bankNapTien').modal('show');

                    this.dataBankChoose = data;
                },
                async confirmData() {
                    try {
                        if (this.PriceUser < 10000 || this.PriceUser == 0 ) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi',
                                text: 'Tối thiểu nạp 10.000đ',
                                confirmButtonText: 'OK'
                            });
                            return;
                        }
                        $('#preloader').fadeIn();

                        const formData = new FormData();
                        formData.append('PriceUser', this.PriceUser);
                        formData.append('BankId', this.dataBankChoose.id);
                        formData.append('ContentTransit', '@ViewBag.userName');
                        await axios.post('/User/UpdateRechaUser', formData,
                            {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(res => {
                                $('#preloader').fadeOut();

                                if (res.data.code == 200) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Thành công',
                                        text: 'Tiền sẽ được cộng trong ít phút',
                                        confirmButtonText: 'OK'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.reload();

                                        }
                                    });
                                }

                                else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Lỗi',
                                        text: `${res.data.message}`,
                                        confirmButtonText: 'OK'
                                    }).then((result) => {
                                        if (result.isConfirmed) {

                                            window.location.reload();


                                        }
                                    });
                                }

                            })


                    }
                    catch (error) {
                        console.error(error);
                        $('#preloader').fadeOut();

                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi',
                            text: 'Đã có lỗi xảy ra',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $('#bankNapTien').modal('hide');
                            }
                        });
                    }

                },
                listBank() {
                    $('#preloader').fadeIn();

                    axios.get(`/User/GetAllBank`)
                        .then((response) => {
                            $('#preloader').fadeOut();

                            this.dataBank = response.data;
                            return Promise.resolve();
                        });
                },
                removeToken(){
                    localStorage.removeItem('CheckLog')
                    localStorage.removeItem('token');
                    window.location.href = "/User/Logout";

                },
                async postLogin(){
                    const formData = new FormData();
                    formData.append("UserName", this.userName);
                    formData.append("Password", this.password);
                    await axios.post('/User/Login', formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(res => {
                            if (res.data.code == 400) {
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Lỗi',
                                    text: `${res.data.message}`,
                                    confirmButtonText: 'OK'
                                });
                                this.mess = res.data.message;
                            }
                            else {
                                axios.get('/get-id-user')
                                    .then(userResponse => {
                                        const token = userResponse.data;
                                        localStorage.setItem('token', token);
                                        localStorage.removeItem('CheckLog')

                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Thành công',
                                            text: "Thành công",
                                            confirmButtonText: 'OK'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = "/";
                                            }
                                        });
                                    })
                                    .catch(error => {
                                        console.error("Error fetching user ID: ", error);
                                    });
                                
                            }


                        })
                },
                formatDate(date) {
                    const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                    return date.toLocaleDateString('vi-VN', options);
                },
                handleWindowClick(event) {

                    if (!this.$el.contains(event.target)) {
                        this.dropdownOpen = false;
                    }
                },
                toggleDropdown() {
                    this.dropdownOpen = !this.dropdownOpen;
                },
                handleSearch() {
                    this.dataItemsLayout;
                },
                showResults() {
                    this.showSearchResults = true;
                },
                hideResults() {
                    this.showSearchResults = false;
                },
                closeHandle() {
                    this.showSearchResults = false;
                    this.searchKeywordPage = ""

                },
                SearchClick(){
                    if (this.searchKeywordPage){
                        window.location.href = `/keywords/${this.searchKeywordPage}`
                    }
                    return;
                },
                formatCurrency(amount) {
                    const formatter = new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    });

                    return formatter.format(amount);
                },

            }
        });
    </script>
    <script>
        function toggleShow() {
            var el = document.getElementById("box");
            el.classList.toggle("show");
        }
        const mobileMenuToggle = document.getElementById('showMenu');
        const mobileMenu = document.getElementById('navbarToggleExternalContent');

        mobileMenuToggle.addEventListener('click', () => {
            if (mobileMenu.classList.contains('show')) {
                mobileMenu.classList.remove('show');
            } else {
                mobileMenu.classList.add('show');
            }
        });

    </script>
</body>
</html>
